# Dependencies
node_modules/

# Production
dist/
build/

# Environment Variables
.env*
!.env.example

# Project Specific
Backend/public/uploads/*
!Backend/public/uploads/.gitkeep

# Logs
npm-debug.log*
*.log

# Editor folders
.vscode/
